
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}
<title>Reset Password</title>
{% endblock title %} {% block PageTitle %}
<h1>Reset Password</h1>
{% endblock PageTitle %} {% block Content %}

    <div id="logreg-forms">
      <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
          Reset Password
        </h1>
        <input
          type="password"
          id="currentPassword"
          class="form-control"
          placeholder="Current Password"
          required=""
          autofocus=""
        />
        <hr>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          placeholder="New Password"
          required=""
          autofocus=""
        />
        <input
          type="password"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm Password"
          required=""
        />
        <button class="btn btn-success btn-block" type="submit">
          <i class="fas fa-sign-in-alt"></i> Submit
        </button>
        <hr />
      </form>

    </div>
    {% endblock Content %}