
{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}
<title>Login</title>
{% endblock title %} {% block PageTitle %}
{% endblock PageTitle %} {% block Content %}

<main class="my-form pt-4">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form name="my-form" onsubmit="return validform()" action="" method="POST">{% csrf_token %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <fieldset class="form-group">
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">
                                    Login
                                    </button>
                                </div>
                            </form>
                            <small>Do not have an Account? <a href="{% url 'register' %}" class="ml-2">Register Now</a></small>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>
{% endblock Content %}