{% extends 'base.html' %} {% load crispy_forms_tags %} 

{% block title %}
<title>Advance Request</title>
{% endblock title %}

{% block PageTitle %}
  {% endblock PageTitle %}

{% block Content %}

<main class="my-form pt-4">
    <div class="cotainer">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="card">
                        <div class="card-header">Set Your Request</div>
                        <div class="card-body">
                          <form name="my-form" onsubmit="return validform()" action="" method="POST">{% csrf_token %}
                                <fieldset class="form-group">
                                  {% for field in Advance_Form %}
                                  <p>
                                    {{ field.label_tag }}
                                      {{ field }}
                                      
                                      {% if field.help_text %}
                                      <br>
                                      <small style="color: gray; margin-left: auto;">{{ field.help_text }}</small>
                                      {% endif %}
                              
                                      {% for error in field.errors %}
                                          <p style="color:red;">{{ error }}</p>
                                          {% endfor %}
                                  </p>
                                  {% endfor %}
                                </fieldset>
                                <div class="col-md-3">
                                  <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                  </div>
                            </form>
                          </div>
                    </div>
            </div>
          </div>
    </div>
</main>
{% endblock Content %}
